<a href="https://colab.research.google.com/github/NoelPaulMailakkal/Business-Analytics-with-Python/blob/main/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
i=int(input("enter the basic salary"))
b=int(input("enter the HRA"))
c=int(input("enter special allowance"))
d=int(input("enter LTA"))

enter the basic salary400000
enter the HRA30000
enter special allowance20000
enter LTA10000

In [ ]:
if a > 250000 and a < 500000:
  p=a-250000
  print ("tax",p*5/100)

tax 7500.0

In [ ]:
if a > 250000 and a < 500000:
  p=a-250000
  print("tax",p*10/100)

tax 15000.0

In [ ]:
if a > 250000 and a < 500000:
  p=a-250000
  print("tax",p*30/100)

tax 45000.0

In [ ]:
i=int(input("enter LTA:"))
if i>250000 and i<500000:
  q=i-250000
  print("TAX:",q*5/100)
elif i>500000 and i<750000:
  q=i-500000
  w=500000-250000
  print("TAX:",w*5/100+q*10/100)
elif i>750000 and i<1000000:
  q=i-750000
  w=500000-250000
  e=750000-500000
  print("TAX:",q*20/100+w*5/100+e*10/100))
elif i>1000000:
  q=i-1000000
  w=500000-250000
  e=750000-500000
  r=1000000-750000
  print("TAX:",q*30/100+w*5/100+e*10/100+r*20/100)

SyntaxError: ignored