<a href="https://colab.research.google.com/github/NoelPaulMailakkal/Business-Analytics-with-Python/blob/main/Untitled18.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=["John","Mary", "Paul", "David"]
len(x)

4

In [2]:
x=["John","Mary", "Paul", "David"]
type(x)

list

In [3]:
y=[9095,"Mithara",19 , "28/05/2003","Malapuram"]
print(y)
print(type(y))

[9095, 'Mithara', 19, '28/05/2003', 'Malapuram']
<class 'list'>

In [6]:
z=[59,37,82,59,75,29,45,41,95,76]
print(z)

[59, 37, 82, 59, 75, 29, 45, 41, 95, 76]

In [9]:
z[0:1]

[59]

In [12]:
z[6:8]

[45, 41]

In [13]:
z[-6:-4]

[75, 29]

In [15]:
z=[59,37,82,59,75,29,45,41,95,76]
z[0]=4
print(z)

[4, 37, 82, 59, 75, 29, 45, 41, 95, 76]

In [16]:
y=[9095,"Mithara",19 , "28/05/2003","Malapuram"]
y[4]="rajagiri"
print(y)

[9095, 'Mithara', 19, '28/05/2003', 'rajagiri']

In [17]:
z=[59,37,82,59,75,29,45,41,95,76]
z.append(69)

In [18]:
z

[59, 37, 82, 59, 75, 29, 45, 41, 95, 76, 69]

In [22]:
c=0
s=[]
while c<4:
  name=input("entyer name:")
  s.append(name)
  c=c+1
  print(s)

entyer name:kdgh
['kdgh']
entyer name:mjghc,j
['kdgh', 'mjghc,j']
entyer name:mjgfrhj
['kdgh', 'mjghc,j', 'mjgfrhj']
entyer name:hgdjgc'
['kdgh', 'mjghc,j', 'mjgfrhj', "hgdjgc'"]

In [23]:
x=["james","stephan"]
y=x.copy
print(y)

<built-in method copy of list object at 0x7f5bc9e74640>

In [24]:
x=["John","Mary", "Paul", "David"]
y=["a","b","c"]
x.extend(y)
x

['John', 'Mary', 'Paul', 'David', 'a', 'b', 'c']

In [25]:
y

['a', 'b', 'c']

In [27]:
x=["james","stephan"]
x.count("e")

0

In [33]:
x=["John","Mary", "Paul", "David"]
x[1:3]=["Narsai","Noel"]
print(x)

['John', 'Narsai', 'Noel', 'David']

In [38]:
x=["John","Mary", "Paul", "David"]
x.insert(2 ,"James")
print(x)

['John', 'Mary', 'James', 'Paul', 'David']

In [42]:
x=['John', 'Mary', 'James', 'Paul', 'David']
x.remove("James")
print(x)

['John', 'Mary', 'Paul', 'David']

In [43]:
x=["John","Mary", "Paul", "David"]
del x[0]
print(x)

['Mary', 'Paul', 'David']

In [45]:
x=["John","Mary", "Paul", "David"]
del x[0:2]
print(x)

['Paul', 'David']