<a href="https://colab.research.google.com/github/NoelPaulMailakkal/Business-Analytics-with-Python/blob/main/Untitled10.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=int(input("enter your mark"))

enter your mark69

In [2]:
if x>50 :
  print ("you passed")
  if x<50:
    print ("failed")

you passed

In [3]:
y=int(input("enter salary"))

enter salary150000

In [6]:
if y<250000:
  print ("you are not taxable")
if y>250000:
  print("you are taxable")

you are not taxable

In [8]:
y=int(input("enter salary"))
if y<250000:
   print ("you are not taxable")
if y>250000:
  tax=y-250000
  ta=tax*10/100
  print("you are taxable")
  print(ta)

enter salary600000
you are taxable
35000.0

In [9]:
y=int(input("Enter your salary : "))
if y>250000 and y<500000:
  tax=y-250000
  taxamount=tax*10/100
  print("you are taxable")
  print("taxable amount : ",taxamount)
if y>500000:
  t=y-250000
  ta=t*20/100
  print("you are taxable")
  print(ta)
else:
  print("NEE SHOOOPERADAAA")

Enter your salary : 450000
you are taxable
taxable amount :  20000.0
NEE SHOOOPERADAAA