<a href="https://colab.research.google.com/github/NoelPaulMailakkal/Business-Analytics-with-Python/blob/main/Untitled13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x="this is \"Python\" programming"
print(x)

this is "Python" programming

In [3]:
print("\"NOEL\"JOSEPH ALEXANDER")

"NOEL"JOSEPH ALEXANDER

In [4]:
print('He\' s a docter')

He' s a docter

In [14]:
x="For only {price:2f} dollers!"
print(x.format(price=49))

For only 49.000000 dollers!

In [16]:
x=["John","David","Narsai","Paul"]
a=input("enter a Name")
y=int(input("enter index position"))
x.insert(y,a)
print(x)

enter a NameNisha
enter index position2
['John', 'David', 'Nisha', 'Narsai', 'Paul']

In [19]:
def tia():
  y=int(input("Enter index"))
  n=input("Enter a Name")
  x.insert(y,n)

In [20]:
tia()

Enter index2
Enter a Namejeswin

In [25]:
def Noel(x,y):
  print(x+y)
  print(x-y)
  print(x*y)
  print(x/y)

In [22]:
Noel()

Enter a number: 69
Enter another number: 88
157
-19
6072
0.7840909090909091

In [26]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
Noel(a,b)

Enter a number: 69
Enter another number: 88
157
-19
6072
0.7840909090909091

In [27]:
def add(x,y):
  print(x+y)
def sub(x,y):
  print(x-y)
def mul(x,y):
  print(x*y) 
def div(x,y):
  print(x/y)

In [28]:
a=int(input("Enter a number: "))
b=int(input("Enter another number: "))
add(a,b)

Enter a number: 69
Enter another number: 88
157