<a href="https://colab.research.google.com/github/NoelPaulMailakkal/Business-Analytics-with-Python/blob/main/Untitled12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x=0

In [2]:
while x<10:
  print(x)
  x=x+1

0
1
2
3
4
5
6
7
8
9

In [8]:
x=10
while x>=1:
  print(x)
  x=x-1

10
9
8
7
6
5
4
3
2
1

In [14]:
x=0
a=0
while x<=10:
 a=a+x
 x=x+1
 print(a)
 print(x)
print(a)
print(x)

0
1
1
2
3
3
6
4
10
5
15
6
21
7
28
8
36
9
45
10
55
11
55
11

In [15]:
x=1
a=1
while x<10:
 a*=x
 x+=1
 print(a)

1
2
6
24
120
720
5040
40320
362880

In [25]:
x=0
while x<10:
  x=x+1
  if x==5:
   continue;
  print(x)

1
2
3
4
6
7
8
9
10

In [26]:
x=0
for x in range (100):
  print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [34]:
a=0
for x in range (100):
  a+=x
print(a)

4950

In [36]:
x=int(input("enter anumber"))
a=1
for i in range(1,x+1):
  a=a*i
  print(a)

enter anumber10
1
2
6
24
120
720
5040
40320
362880
3628800

In [37]:
for x in range (100):
  if x==5:
    break;
  print(x)

0
1
2
3
4

In [38]:
for x in range (100):
  if x==5:
    continue;
  print(x)

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [39]:
x="Noel Paul"
for a in x:
  print(a)

N
o
e
l

P
a
u
l