<a href="https://colab.research.google.com/github/NoelPaulMailakkal/Business-Analytics-with-Python/blob/main/Untitled1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x=input("enter the first number")

enter the first number6

In [ ]:
y=input("enter the second number")

enter the second number2

In [ ]:
print(x+y)

62

In [ ]:
x-y

TypeError: ignored

In [ ]:
print(x-y)

TypeError: ignored

In [ ]:
int(x)+int(y)

8

In [ ]:
int(x)-int(y)

4

In [ ]:
int(x)/int(y)

3.0

In [ ]:
int(x)*int(y)

12

In [ ]:
x=int(input("enter the first number"))
y=int(input("enter the second number"))

enter the first number69
enter the second number3

In [ ]:
x+y

72

In [ ]:
p=int(input("enter principal amount"))
n=int(input("enter number of years"))
r=int(input("enter rate of intrest"))
print("rate of intrest :",p*n*r/100)

enter principal amount10000
enter number of years5
enter rate of intrest8
rate of intrest : 4000.0

In [19]:
m=int(input("enter the marks for banking"))
if m>50:
  print("pass")
else:
  print("fail")

enter the marks for banking69
pass

In [26]:
n=int(input("enter salary"))
if n>250000 and n<500000:
  print("taxable")
  a=n-250000
  print("tax :",int(a*10/100))
elif n>500000:
  a=n-250000
  print("Tax:",int(a*30/100))
else:
  print("untaxable")

enter salary800000
Tax: 165000